$white: #ffffff;
$grey: #5c6668;
$pale-grey: #687d83;
$light-grey: #4f656b;
$bright-grey: #869da4;
$dark-grey: #323d40;
$grey-copyright: #252e31;
$turquoise: #0f657f;
$light-turquoise: #156f8a;
$middle-turquoise: #126a85;
$turquoise-bg: #0f6e86;
$pale-turquoise: #508c9f;
$green: #11bfc0;
$dark-green: #163f48;
$light-green: #2ecc71;
$sea-green: #7ea29f;
$light-sea-green: #cae9e6;
$sea-green-bg: #f0fbfa;
$blue: #20b9cc;
$dark-blue: #30b4d9;
$blue-bg: #30b4d9;
$blue-hover: #69c7e4;
$blue-link: #00a2d3;
$light-blue: #b0d6e1;
$yellow-border: #ffcf27;
$yellow-bg: #ffd466;
$yellow-font: #fbd359;
$pale-yellow: #ffe082;
$beige: #fff7e1;
$form-bg: #eef5f6;
$form-border: #b1ced7;

$bebasregular: bebasregular, sans-serif;
$bebaslight: bebaslight, sans-serif;
$bebasbook: bebasbook, sans-serif;
$cabin: cabin, sans-serif;
$cabinmedium: cabinmedium, sans-serif;
$cabinsemibold: cabinsemibold, sans-serif;
$opensans: opensans, sans-serif;
$opensanssemibold: opensanssemibold, sans-serif;
$opensansbold: opensansbold, sans-serif;
$opensansitalic: opensansitalic, sans-serif;
$opensansbolditalic: opensansbolditalic, sans-serif;